[submodule "azg"]
	path = azg
	url = https://github.com/suragnair/alpha-zero-general
	branch = master
[submodule "geochri"]
	path = geochri
	url = https://github.com/lasha81/AlphaZero_Chess.git
	branch = master
